.navigation {
  nav {
        padding-top: .5em;
        position: relative;

        a + a {
          margin-left: 1.2rem;
        }

        a {
          text-transform: uppercase;
          font-weight: bold;
          letter-spacing: .1em;
          position: relative;
          cursor: pointer;
          color: #555;
          text-decoration: none;

          &:hover {
            color: lightseagreen;
          }

          &.active {
            color: lightseagreen;
          }
        }
  }

  > div > form {
    display: flex;
    button {
      background: #141414;
      color: #fff;
      padding: 0 0.5rem;
    }
  }

  > div {
    display: flex;
    gap: 1em;
    align-items: center;
  }

  flex-wrap: wrap;
  gap: 1rem;
}

.sticky-nav {
  width: 100% !important;
  background: #f5f5f5;
  padding: 1rem 10% 2rem;
  position: fixed;
  top: 0;
  box-shadow: 0 2px 3px 0 rgb(0, 0, 0, 0.5);
  transition: position 1s ease-in;
}