.app {
    h1 {
        text-align: center;
    }

    > button {
        margin-left: 2em;
        padding: 1em;
        border-radius: 5px;
    }
}

.examples {
    padding: 2em;
    display: flex;
    gap: 2em;
    flex-wrap: wrap;

    > div {
        width: 40%;
        padding: 2em;
        background: #eee;
        border-radius: 10px;
    }
}

.counter {
    button, span {
        margin: 0 1em;
    }
}

form {
    label {
        margin-right: 1em;
    }
}

.player {
    padding: 1em;
    border-bottom: 1px solid #ddd;
}